body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 0px;
  font-family: "Raleway";
}

.hide-it {
  display: none;
}

.label-common {
  border: 2px white solid;
  border-radius: 10px;
  border-color: rgb(222, 49, 99);
  /* font-family: "Raleway", sans-serif; */
  color: rgb(222, 49, 99);
  /* background-color: rgb(240, 240, 240); */
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* -- section-1 ----------------------------------- */

h1 {
  max-width: 1200px;
  margin: 20px auto 30px;
}

.img-header {
  max-width: 1200px;
  margin: 20px auto 30px;
}

.img-header img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 50px 0;
}

.info-left {
  display: flex;
}

.time {
  margin-right: 10px;
  height: 25px;
  width: 110px;
  padding: 6px;
}

.time_img {
  width: 20px;
  height: 20px;
  background-image: url(img/clock-regular.svg);
  background-size: cover;
}

.demand {
  margin-right: 10px;
  height: 25px;
  width: 110px;
  padding: 6px;

  /* cursor: pointer; */
}

.demand_img {
  width: 20px;
  height: 20px;
  background-image: url(img/brain-solid.svg);
  background-size: contain;
}

.date {
  height: 25px;
  width: 110px;
  padding: 6px;

  /* cursor: pointer; */
}

.date_img {
  width: 20px;
  height: 20px;
  background-image: url(img/calendar-alt-regular.svg);
  background-size: cover;
}

.calorie {
  height: 25px;
  width: 325px;
  padding: 6px;
}

/* ------section 2------------------------------------------- */

.section-2 {
  max-width: 1200px;
  margin: 20px auto 30px;
}

.portion {
  margin: 40px 0 40px 0;
  display: flex;
  align-items: center;
}

.portion span.portionChild {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: rgb(222, 49, 99);
}

.portion #inputField {
  margin-left: 6px;
  height: 31px;
  width: 85px;
  padding: 6px;
  border: 2px white solid;
  border-radius: 6px;
  border-color: rgb(222, 49, 99);
}

.portion #inputField:focus-visible {
  /* Die CSS Pseudoklasse :focus steht für Elemente, welche mit einem Eingabegerät, wie z. B. der Tastatur, fokusiert wurden. */
  outline: rgb(222, 49, 99);
}

/* Auswahlpfeile immer sichtbar */
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.ingredient {
  display: flex;
  justify-content: space-between;
}

.ingredient_child {
  min-width: 320px;
  border-radius: 6px;
  border-spacing: 16px 8px;
  border: solid 1px rgb(222, 49, 99);
}
.ingredient_child caption {
  text-align: center;
  font-size: 26px;
}

.ingredient_child td {
  text-align: end;
}

.ingredient_child th {
  text-align: start;
}

caption {
  margin-bottom: 25px;
}

.label_portion {
  margin-left: 6px;
  height: 31px;
  width: 85px;
  padding: 6px;
}

/* ------section 3------------------------------------------- */
.section-3 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.section-3 h2 {
  margin: 60px 0 60px 0px;
}

.section-3 h3 {
  margin: 0px 0 10px 0px;
}

.section-3 p {
  margin: 20px 0 0px 0px;
  text-align: justify;
}

.rule_bold {
  font-weight: bold;
  text-decoration: underline;
}

.info-worktime {
  display: flex;
  justify-content: space-between;
}

.label-time-work {
  height: 25px;
  width: 180px;
  padding: 6px;
}

.preparation {
  margin-top: 60px;
  width: 1200px;
  column-width: 240px;
  column-gap: 96px;
  column-rule-color: rgb(222, 49, 99);
  column-rule-width: 1px;
  column-rule-style: solid;
  text-align: justify;
}

/* ------section 4------------------------------------------- */
.section-4 {
  max-width: 1200px;
  margin: 30px auto 45px;
  display: flex;
  flex-direction: column;
}

.section-4 h4 {
  margin: 30px 0 16px 0px;
}

.section-4 img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 100%;
  margin-bottom: 20px;
}

/* ------responsive part------------------------------------------- */

@media (max-width: 1225px) {
  .preparation {
    width: 333px;

    margin-top: 40px;
  }

  h3 {
    text-align: center;
  }

  .rule_bold {
    text-align: justify;
  }

  .text-1 {
    text-align: justify;
  }

  .info {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    margin-top: 32px;
  }

  .info-left {
    height: 200px;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .time {
    margin-right: unset;
  }

  .demand {
    margin-right: unset;

    /* cursor: pointer; */
  }

  .info-worktime {
    height: 155px;
    flex-direction: column;
  }

  .ingredient {
    flex-direction: column;
    align-items: center;
  }

  .ingredient_child {
    margin-bottom: 20px;
  }

  .calorie {
    margin-left: unset;
    width: unset;
    text-align: center;
  }

  .portion {
    justify-content: center;
  }
  h1 {
    text-align: center;
  }

  .section-3 {
    align-items: center;
  }

  .section-3 h2 {
    margin: -25px 0 25px 0px;
  }

  .section-4 {
    align-items: center;
  }
}
